{{ title_prefix }}
{% if department_title is defined %}
    <h1{{ title_attributes.addClass('page-title') }}>{{ department_title }}</h1>
{% elseif title %}
    <h1{{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
{% endif %}
{{ title_suffix }}

{% if topmenu is defined %}
  <div class="hide-on-mobile top-menu">
    <ul id="department-top-menu" class="department-menu">
      {% for item in topmenu.items %}
        <li class={{ item.classes[0]}}><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="hide-on-desktop sub-navigation-mobile white-bg l-padding-hd l-padding-ts l-padding-bs">
	  <div class="accordions js-toggle-accordion teal-bg">
      <div class="accordion">
        <p class="accordion__heading"><a class="accordion__link" href="#"><i class="icon-menu l-margin-rs"></i> Site Menu  <span class="toggle-icon"> </span></a></p>
        <div class="accordion__drawer" style="display: none;">
          <ul id="department-top-menu" class="department-menu">
            {% for item in topmenu.items %}
                <li class={{ item.classes[0]}}><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endif %}


{% if department_title == 'Inside San Diego' %}
  {{ drupal_menu('inside-san-diego') }}
{% endif %}