{{ title_prefix }}
{% if department_title is defined %}
    <h1{{ title_attributes.addClass('visuallyhidden') }}>{{ department_title }}</h1>
    {% if department_title == 'Inside San Diego' %}
      <p class="main__tagline">Stories about City Services, Employees, Residents and Communities</p>
    {% endif %}
{% elseif title %}
    <h1{{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
{% endif %}

{% if (show_slider == 1) %}
  <div class="hero__slides hero__slides--secondary">
    <div class="l-constrained--site row">
      <div class="twelve columns hero__content">
        {{ drupal_view('department_slides', 'block', department_argument) }}
      </div>
    </div>
  </div>
{% endif %}

{{ title_suffix }}



{% if (topmenu is defined) and (department_title != 'Inside San Diego') %}
  <div class="hide-on-mobile top-menu">
    <ul id="department-top-menu" class="department-menu">
      {% for item in topmenu.items %}
        <li class={{ item.classes[0]}}><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% if topmenu.items %}
  <div class="hide-on-desktop sub-navigation-mobile white-bg l-padding-hd l-padding-ts l-padding-bs l-padding-mobile-hm">
	  <div class="accordions js-toggle-accordion teal-bg">
      <div class="accordion">
        <p class="accordion__heading"><a class="accordion__link" href="#"><i class="icon-menu l-margin-rs"></i> Site Menu  <span class="toggle-icon"> </span></a></p>
        <div class="accordion__drawer" style="display: none;">
          <ul id="department-top-menu" class="department-menu">
            {% for item in topmenu.items %}
                <li class={{ item.classes[0]}}><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}

{% if department_title == 'Inside San Diego' %}
  {{ drupal_menu('inside-san-diego') }}
{% endif %}
