{#
/**
 * @file
 * Olivero's theme override to display the footer top region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{%
  set classes = [
    'region',
    'region--' ~ region|clean_class,
    'grid-full',
    'layout--pass--content-medium',
    'ie11-autorow',
    'grid-container',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="region--{{ region }}__inner">
      <div class="footer--left">
        <div class="top">
          <img class="footer--logo" src="/{{ directory }}/images/logo--white--sm.png" alt="The City of San Diego - logo">
          <ul class="socials">                        
            <li><a href="https://www.facebook.com/CityofSanDiego" title="Facebook"><i class="icon-facebook"></i></a></li>
            <li><a href="https://twitter.com/CityofSanDiego" title="Twitter"><i class="icon-twitter"></i></a></li>
            <li><a href="http://www.youtube.com/user/TheCityofSanDiego" title="YouTube"><i class="icon-youtube"></i></a></li>
	          <li><a href="https://www.instagram.com/cityofsandiego/" title="Instagram"><i class="icon-instagram"></i></a></li>
			      <li><a href="https://nextdoor.com/city/feed/748155/?i=wkjkutqnzmjazcaegxre" title="Nextdoor"><i class="icon-nextdoor"></i></a></li>
			      <li><a href="https://www.linkedin.com/company/cityofsandiego" title="LinkedIn"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>     
          <p class="copyright">
            Copyrighted © 2002-{{ "now"|date("Y") }}<br>
            City of San Diego. All rights reserved.
          </p>
      </div>

      {{ content }}
    </div>

    <div class="region--{{ region }}__bottom">
    {# Custom block: /block/award-badges-in-footer/edit?destination=admin/content/blocks #}
        <div class="logo"><a href="https://www.govtech.com/dc/articles/digital-cities-2021-500-000-or-more-population-category"><img alt="Digital Cities Survey 2021 Winner" src="/{{ directory }}/images/digital-cities-2021.jpg"></a></div>
        <div class="logo"><a href="https://www.govtech.com/cdg/government-experience/Government-Experience-Awards-2020-Winners-Announced.html"><img src="/{{ directory }}/images/gea-2020.png" ></a></div>
        <div class="logo"><a href="https://whatworkscities.bloomberg.org/certification"><img src="/{{ directory }}/images/what-works-2020-footer-logo.png"></a></div>
    </div>
    <div class="region--{{ region }}__privacy">
      <ul>
        <li><a href="/disclaimers">Disclaimers</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/accessibility">Accessibility</a></li>
        <li><a href="/translation">Language Translation</a></li>
        <li><a href="/contact">Contact the City</a></li>
      </ul>
    </div>
  </div>
{% endif %}

