{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class
  ]
%}
{{ content.content_moderation_control }}
<article {{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  <div class="main__message main__message--white l-padding-mobile-hm">
    <h1 class="main__heading">{{ label }}</h1>
  </div>
  {{ title_suffix }}
  <div {{ content_attributes.addClass('node__content content-body') }}>
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell small-12 medium-auto content">
        {{ content.body }}

        {% if content.field_amenities.0 or content.field_restrictions.0 %}
				<div class="accordions js-toggle-accordion l-margin-tm l-margin-bn">
          {% if content.field_amenities.0 %}
					<div class="accordion">
						<p class="h2 heading--trim accordion__heading">
            {% if content.field_alt_amenities_title.0 %}
              <a href="#" class="accordion__link">
                {{ content.field_alt_amenities_title.0 }}
                <span class="toggle-icon"></span>
              </a>
              {% else %}
              <a href="#" class="accordion__link">Amenities
                <span class="toggle-icon"></span>
              </a>
            {% endif %}
            </p>
						<div class="accordion__drawer">
              {{ content.field_amenities }}
						</div>
					</div>
          {% endif %}
          {% if content.field_restrictions.0 %}
					<div class="accordion">
						<p class="h2 heading--trim accordion__heading">
            {% if content.field_alt_restrictions_title.0 %}
              <a href="#" class="accordion__link">
                {{ content.field_alt_restrictions_title.0 }}
                <span class="toggle-icon"></span>
              </a>
              {% else %}
              <a href="#" class="accordion__link">Restrictions
                <span class="toggle-icon"></span>
              </a>
            {% endif %}
            </p>
						<div class="accordion__drawer">
              {{ content.field_restrictions }}
						</div>
					</div>
          {% endif %}
        </div>
        {% endif %}

      </div>
      <div class="cell medium-4 sidebar">
        <div class="l-margin-mobile-bn">
          <div class="card l-padding-ad text-center--mobile">
              <!-- Address Card -->
              {% if (content.field_address.0.organization["#value"] is not empty) or (content.field_address.0.address_line1["#value"] is not empty) %}
                  {# Extracting individual address components #}
                  {% set locname = content.field_address.0.organization['#value'] %}
                  {% set street = content.field_address.0.address_line1['#value'] %}
                  {% set city = content.field_address.0.locality['#value'] %}
                  {% set state = content.field_address.0.administrative_area['#value'] %}
                  {% set zip = content.field_address.0.postal_code['#value'] %}

                  {# If address only contains location name, center the name vertically in the address box #}
                  {% if (locname is not empty) and (street is empty) %}
                      {% set addressclass = " l-flex-center-v" %}
                  {% endif %}

                  {# Formatting the address for URL (replacing spaces and commas) #}
                  {% set formatted_address_url = [street, city, state, zip]|join('+')|trim|replace({' ' : '+', '++': '+'}) %}
                  <h2 class="h3 heading--snug">Location</h2>
                  {% if content.field_address.0.address_line1["#value"] is not empty %}
                      <div id="maprow" class="row">
                          <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBD0BdPQUod50DCv_vczFxEbO4ox7w9hnM&amp;q={% apply spaceless %}{{ formatted_address_url }}{% endapply %}" style="width: 100%; height: 250px; top: 0px; left: 0px; border: medium none;" frameborder="0"></iframe>
                      </div>
                  {% endif %}
              {% endif %}

            {% if content.field_address.0 %}
              <div class="grid-x l-margin-td">
                <div class="cell small-2 text-left--mobile">
                  <i class="icon-map-marker icon--ms icon--circle background--cerulean"></i>
                </div>
                <div class="cell auto text-left--mobile">
                  {{ content.field_address }}
                </div>
                <div class="cell small-1 l-padding-ts text-center">
                  <p><a class="no-underline" href="https://www.google.com/maps/place/{% apply spaceless %}{{ formatted_address_url }}{% endapply %}" title="View in Google Maps" target="_blank"><i class="icon-map2 icon--ms"></i></a></p>
                </div>
              </div>
            {% endif %}
          </div>

          {% if content.field_location_hours.0 %}
    				<div class="card">
              {% if content.field_location_hours_title.0 %}
              <h2 class="h3 heading--trim">{{ content.field_location_hours_title.0 }}</h2>
              {% else %}
              <h2 class="h3 heading--trim">Hours</h2>
              {% endif %}
              {% if content.field_location_hours_notes.0 %}
              <div class="office-hours-notes">
                {{ content.field_location_hours_notes }}
              </div>
              {% endif %}
  					  <div class="office-hours">
                {{ content.field_location_hours }}
              </div>
              {% if logged_in %}
  					  <div class="office-hours-exceptions">
                {{ content.field_exceptions }}
              </div>
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_location_hours2.0 %}
    				<div class="card">
    					<h2 class="h3 heading--snug">
                {{ content.field_location_hours_title_2 }}
              </h2>
              {% if content.field_location_hours_notes2.0 %}
              <div class="office-hours-notes l-padding-bd">
                {{ content.field_location_hours_notes2 }}
              </div>
              {% endif %}
              <div class="office-hours">
                {{ content.field_location_hours2 }}
              </div>
              {% if logged_in %}
              <div class="office-hours-exceptions">
                {{ content.field_exceptions_2 }}
              </div>
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_location_contact_name.0 or content.field_location_contact_name.0 or field_location_contact_title.0 or content.field_phone.0 or content.field_email.0 %}
            <div class="card contact-info">
    					<h2 class="h3 heading--trim">Contact Info</h2>
              {% if content.field_location_contact_name.0 or content.field_location_contact_title.0 %}
                <div class="grid-x l-margin-td">
                  <div class="cell small-2">
                    <i class="icon-user icon--ms icon--circle background--cerulean"></i>
                  </div>
                  <div class="cell small-10">
                    <div class="l-margin-an">
                      <span>
                        <strong>{{ content.field_location_contact_name }}</strong>
                      </span>
                      {{ content.field_location_contact_title }}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if content.field_phone.0 %}
                <div class="grid-x l-margin-td">
                  <div class="cell small-2">
                    <i class="icon-telephone icon--ms icon--circle background--cerulean"></i>
                  </div>
                  <div class="cell small-10">
                    <address class="l-margin-an">
                      <strong><span itemprop="telephone">{{ content.field_phone.0 }}</span></strong>
                    </address>
                  </div>
                </div>
              {% endif %}
              {% if content.field_email.0 %}
                <div class="grid-x l-margin-td">
                  <div class="cell small-2">
                    <i class="icon-at-sign icon--ms icon--circle background--cerulean"></i>
                  </div>
                  <div class="cell small-10">
                    <address class="l-margin-an">
                      <strong>{{ content.field_email.0 }}</strong>
                    </address>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_sidebar.0 %}
    				<div class="card">
              {{ content.field_sidebar }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
      {% if content.field_resources.0 %}
      <div class="grid-x">
        <div class="cell small-12 l-padding-desktop-hd l-padding-mobile-hm l-padding-tm l-padding-bd background-off-white">
          {{ content.field_resources }}
        </div>
      </div>
      {% endif %}

</article>
