<!--div class="six columns text-center hide-on-mobile l-padding-desktop-tm l-margin-desktop-ts">
    <div class="card--weather">
        <i class="{{ icon }}"></i>
        <p class="temperature"><span class="degrees">{{ temp }}</span>&deg;</p>
        <p><strong>San Diego <br> Weather</strong></p>
    </div>
</div-->
<!-- // Weather -->
<a href="https://w1.weather.gov/xml/current_obs/KSAN.xml" rel="noopener"><i class="{{ icon }}" title="{{ text }}" aria-hidden="true"></i><span class="visuallyhidden">{{ text }}</span> {{ temp }}&deg;</a>