{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div class="l-constrained l-constrained--main l-padding-mobile-hd background-white">
  <div class="row">
    <div class="grid-x">
      <div class="cell small-12 medium-auto content">
        <div class="l-padding-am grid-x grid-margin-x">

          <div{{ attributes.addClass(classes) }}>

          {{ exposed }}

          {% if header %}
            <header>
              {{ header }}
            </header>
          {% endif %}
          {{ attachment_before }}

          {% if rows -%}
          <div class="background-white">
            <div class="entry__content l-padding-bd">
              <div class="flexslider--mobile view-content card__container l-margin-vd">
                {{ rows }}
              </div>
            </div>
          </div>
          {% elseif empty -%}
            {{ empty }}
          {% endif %}
          {{ pager }}

          {{ attachment_after }}
          {{ more }}

          {% if footer %}
            <footer>
              {{ footer }}
            </footer>
          {% endif %}

          {{ feed_icons }}
        </div>
      </div>
    </div>
    <div class="cell medium-3 large-3 sidebar light-gray-bg">
      <div class="l-padding-am l-padding-mobile-hd l-margin-mobile-bm">
        {{ drupal_entity('block_content', '14') }}
      </div>
    </div>
  </div> <!-- row -->
</div> <!-- l-constrained -->