{% for row in rows %}
<div class="grid-x">
<div class="cell medium-3 l-padding-desktop-rs text-center">
<p class="hide-on-mobile l-margin-bn"><a  href="{{ row.link }}"><img src="{{ row.image_url }}" width="200" height="auto" alt=""></a></p>
<p class="hide-on-desktop l-margin-bn"><a  href="{{ row.link }}"><img src="{{ row.image_url }}" width="400" height="auto" alt=""></a></p>
</div>
<div class="insidesd-title cell medium-auto l-padding-mobile-ad">
<p class="fine-print text-upper">{% if row.sticky == "On" %}Pinned{% else %}Latest{% endif %} article, posted {{ row.created }}:</p>
<p><a class="h3 heading--trim no-underline" href="{{ row.link }}">{{ row.title }}</a></p>
</div>
</div>
{% endfor %}