{{ title_prefix }}
{% if department_title is defined %}
    {% if department_title == 'Inside San Diego' %}
      <div class="grid-container l-padding-ts">
        <div class="grid-x l-margin-tm l-margin-bs l-padding-mobile-hm l-flex-center-v">
          <div class="cell medium-4 text-center--mobile">
            <h1 class="visuallyhidden">{{ department_title }}</h1>
            <p><a href="/insidesd"><img src="/themes/custom/sand/images/inside-sd-logo.svg" alt="Inside San Diego logo" width="200" height="auto"></a></p>
          </div>
          <div class="cell medium-auto">
            <p class="main__tagline">News &amp; information from the City&nbsp;of&nbsp;San&nbsp;Diego</p>
          </div>
        </div>
        {{ drupal_menu('inside-san-diego') }}
      </div>
    {% else %}
      <div class="main__message main__message--transparent">
        <p class="h1 main__heading">{{ department_title }}</p>
      </div>
    {% endif %}
{% elseif title %}
    <h1{{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
{% endif %}

{{ title_suffix }}

{% if (topmenu is defined) %}
  {% if topmenu.items %}
  <div class="hide-on-mobile top-menu grid-container {{ sliderclass }}">
    <nav>
      <ul id="department-top-menu" class="article-menu department-menu">
        {% set pageurl = path('<current>') %}
        {% if (topmenu.items.0.url == pageurl|render|render) %}
          <li class="is_active"><a href="{{ topmenu.items.0.url }}">{{ topmenu.items.0.title }}</a></li>
        {% else %}
          <li><a href="{{ topmenu.items.0.url }}">{{ topmenu.items.0.title }}</a></li>
        {% endif %}
        {% for item in topmenu.items[1:] %}
        {% if (item.url in pageurl|render|render) %}
          <li class="is_active"><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% else %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="hide-on-desktop sub-navigation-mobile">
	  <div class="accordions js-toggle-accordion">
      <div class="accordion">
        <p class="accordion__heading"><a class="accordion__link" href="#"><i class="icon-menu l-margin-rs"></i> Site Menu  <span class="toggle-icon"> </span></a></p>
        <div class="accordion__drawer" style="display: none;">
          <ul id="department-top-menu" class="department-menu">
            {% for item in topmenu.items %}
                <li class={{ item.classes[0]}}><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}
