{{ title_prefix }}
{% set url = url('<current>') %}
{% if '/search/site' in url|render|render %}
  {% set searchpage = 1 %}
{% endif %}

<div class="header">
  <div class="l-padding-desktop-vm l-padding-mobile-vd">
{% if department_title is defined or searchpage %}
    {% if department_title == 'Inside San Diego' or searchpage %}
      <div class="grid-container l-padding-ts">
        <div class="grid-x l-padding-mobile-hm l-flex-center-v">
          <div class="cell medium-4 small-4 text-center--mobile">
            <h1 class="visuallyhidden">{{ department_title }}</h1>
            <p><a href="/"><img src="/themes/custom/sand/images/inside-sd-logo.svg" alt="Inside San Diego logo" width="200" height="auto"></a></p>
          </div>
          <div class="cell medium-auto auto">
            <p class="main__tagline l-margin-bn"><strong>News &amp; updates from the&nbsp;<a class="text-white" href="https://sandiego.gov">City&nbsp;of&nbsp;San&nbsp;Diego</a></strong></p>
          </div>
        </div>
        {{ drupal_menu('inside-san-diego') }}
      </div>
    {% else %}
      <div class="main__message main__message--transparent">
        <p class="h1 main__heading">{{ department_title }}</p>
      </div>
    {% endif %}
{% elseif title %}
    <h1{{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
{% endif %}
  </div>
{{ title_suffix }}
  <div class="header-second">
    <div class="tb-megamenu-main">
    {% if (topmenu is defined) %}
      {% if topmenu.items %}
      <div class="top-menu grid-container">
        <div class="grid-x white-bg">
          <div class="cell medium-auto">
            <nav>
              <ul id="department-top-menu" class="tb-megamenu-nav">
                <li class="tb-megamenu-item"><a class="dropdown-toggle text-center home-link hide-on-mobile" href="/"><i class="icon-home icon--md" style="padding-left: .5rem"></i></a></li>
                {% for item in topmenu.items %}
                  <li class="tb-megamenu-item"><a class="dropdown-toggle text-center hide-on-mobile" href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
                <!--<li class="tb-megamenu-item"><a class="dropdown-toggle text-center hide-on-mobile" href="//sandiego.gov">SanDiego.gov</a></li>-->
                <li class="tb-megamenu-item white-bg width-100--mobile" style="width: 80px"><div id="google_translate_element" class="translate text-center"></div></li>
              </ul>
            </nav>
          </div>
          {% if not searchpage %}
          <div class="cell medium-3 light-gray-bg l-margin-mobile-vd">
            <div class="form-coll-search l-margin-desktop-as l-margin-mobile-vd l-margin-mobile-hm">
                {{ drupal_block('views_exposed_filter_block:search_site-all', wrapper=false) }}
            </div>
          </div>
          {% endif %}
        </div>
      </div>

        <div class="hide-on-desktop sub-navigation-mobile">
        <div id="google_translate_element" class="translate text-center"></div>
        <div class="accordions js-toggle-accordion">
          <div class="accordion">
            <p class="accordion__heading"><a class="accordion__link" href="#"><i class="icon-menu l-margin-rs"></i> Site Menu  <span class="toggle-icon"> </span></a></p>
            <div class="accordion__drawer" style="display: none;">
              <ul id="department-top-menu" class="department-menu">
                <li class={{ item.classes[0]}}><a href="/">Home</a></li>
                {% for item in topmenu.items %}
                    <li class={{ item.classes[0]}}><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
    </div>
  </div>
</div>