{#
/**
 * @file
 * Olivero's theme override to display the footer top region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{%
  set classes = [
    'region',
    'region--' ~ region|clean_class,
    'grid-full',
    'layout--pass--content-medium',
    'ie11-autorow',
    'grid-container',
    'alto-bg',
  ]
%}
{% set cryears = "now"|date("Y") == "2024" ? "2024" : "2024-"~"now"|date("Y") %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="region--{{ region }}__inner">
      {{ content }}
      
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell medium-6">
        <p class="copyright l-margin-mobile-bd">
          Copyrighted © {{ cryears }}. City of San Diego. All rights reserved.
        </p>
      </div>
      <div class="cell medium-auto">
        <div class="region--{{ region }}__privacy">
          <ul>
            <li><a href="/disclaimers">Disclaimers</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/accessibility">Accessibility</a></li>
            <li><a href="/translation">Language Translation</a></li>
          </ul>
        </div>
      </div>
    </div>  
  </div>
{% endif %}

